<!DOCTYPE html>
<html>
<head>
    <%- include header%>
    <!-- <%-links %> -->
    <!-- 2016120814195012 -->
    <link rel="stylesheet" href="http://www.elongstatic.com/common/css/EL_common.css?t=2016121600002222" type="text/css">
    <link rel="stylesheet" ohref="http://m.elongstatic.com/web/flight/2016/12/v1/css/order.css?t=2016121600002222" href="../flight/src/css/order.css?t=2016121600002222" type="text/css">
</head>
<body>
    <%-content %>

    <script data-main-bak="http://m.elongstatic.com/web/flight/2016/12/v1/js/book/order.js?t=2016121600002222" data-main="../flight/src/js/book/order.js?t=2016121600002222" src="http://m.elongstatic.com/web/flight/common/2016/11/v1/js/lib/require.js?t=2016121600002222"></script>
</body>
</html>
