<footer>
    <div class="footer-top">
        <div class="row">
            <div class="large-3 columns">
                <a href="http://zurb.com/studios" class="footer-link-block services">
                    <span class="title">工作室</span>
                    <span>Helping more than 200 startups succeed since 1998.</span>
                </a>
            </div>
            <div class="large-3 columns">
                <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
                    <span class="title">基金会</span>
                    <span>The most advanced front-end framework in the world.</span>
                </a>
            </div>
            <div class="large-3 columns">
                <a href="http://zurb.com/apps" class="footer-link-block apps">
                    <span class="title">创意中心</span>
                    <span>Prototype, iterate and collect feedback on your products.</span>
                </a>
            </div>
            <div class="large-3 columns">
                <a href="http://zurb.com/university" class="footer-link-block expo">
                    <span class="title">机票学院</span>
                    <span>Ideas, thoughts and design resources shared with you.</span>
                </a>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="large-4 push-8 columns">
                <ul class="home-social">
                    <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
                    <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
                    <li><a href="/contact" class="mail"></a></li>
                </ul>
            </div>
            <div class="large-8 pull-4 columns">
                <a href="http://zurb.com" class="logo regular"></a>
                <ul class="links">
                    <li><a href="http://zurb.com/about">关于</a></li>
                    <li><a href="http://zurb.com/blog">博客</a></li>
                    <li><a href="http://zurb.com/news">新闻<span class="show-for-medium-up"> &amp; 事件</span></a></li>
                    <li><a href="http://zurb.com/contact">联系方式</a></li>
                    <li><a href="http://zurb.com/sitemap">站点地图</a></li>
                </ul>
                <p class="copyright">© 1998–2014 AirTech Center, Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>