<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title><%= title %></title>
<meta name="keywords" content="机票,机票查询,飞机票,飞机票查询,特价机票,打折机票,机票预订,订机票" />
<meta name="description" content="艺龙网提供国内机票查询预订服务，2分钟快速出票，为超过8000万顾客成功出票。机票预订，找特价机票、打折飞机票、查询航班信息，网上选座，就用艺龙旅行网。" />
<link rel="icon" href="http://www.elongstatic.com/common/pic/favicon.ico?t=201611020209" type="image/x-icon" />

<script type="text/javascript">var tjObj_rt = new Date();</script>
<link rel="stylesheet" rev="stylesheet" href="http://www.elongstatic.com/web/common/css/new2015.min.css?t=201611020209"
      type="text/css" media="all" />
