<!DOCTYPE html>
<html>
    <head>
        <%- include header%>
        <link rel="stylesheet" rev="stylesheet" href="http://www.elongstatic.com/web/common/css/new2015.min.css?t=201611020209"
              type="text/css" media="all" />
        <link rel="stylesheet" rev="stylesheet" href="http://www.elongstatic.com/flights-new/css/cn_index2014.css?t="
              type="text/css" media="all" />

    </head>
<body>
<script src="http://www.elongstatic.com/web/common/js/require.js"></script>
<%-content %>
<script src="../flight/src/js/index1.js"></script>
</body>
</html>