<!doctype html>
<html lang="en">
<head>
    <%- include header %>
    <!--<link rel="stylesheet" rev="stylesheet" href="http://www.elongstatic.com/common/css/EL_common.css?t=201611210213"-->
          <!--type="text/css" media="all">-->
    <!--<link rel="stylesheet" rev="stylesheet"-->
          <!--href="http://www.elongstatic.com/flights-new/css/cn_list2015-06.css?t=201611210213" type="text/css"-->
          <!--media="all">-->
    <link rel="stylesheet" href="../flight/dist/css/cn_list2017-01.css">
    <!--<link rel="stylesheet" href="http://m.elongstatic.com/web/flight/2016/12/v1/css/cn_list2017-01.css">-->
</head>
<body>

<!--<script src="../flight/src/js/listsss/common/js/noexpire/s_code.js"></script>-->
<script src="http://m.elongstatic.com/web/flight/2016/12/v1/js/list/s_code.js"></script>
<!--<script src="http://m.elongstatic.com/web/flight/common/2016/11/v1/js/lib/jquery.js"></script>-->
<script>
    Elong = {
        tj: function () {

        }
    }
</script>
<%- content %>

<!--<script src="../flight/src/js/list/web/common/js/require.js"></script>-->
<script src="http://m.elongstatic.com/web/flight/common/2016/11/v1/js/lib/require.js"></script>

<script src="../flight/src/js/list/oneway.js"></script>
<!--<script src="http://localhost:3000//flight/src/js/list/Round.js"></script>-->
<!--<script src="http://m.elongstatic.com/web/flight/2016/12/v1/js/list/Round.js"></script>-->
<!--<script src="http://m.elongstatic.com/web/flight/2016/12/v1/js/list/oneway.js"></script>-->


</body>
</html>