<!doctype html>
<html lang="en">
<head>
    <%- include header %>
    <!--<link rel="stylesheet" rev="stylesheet" href="http://www.elongstatic.com/common/css/EL_common.css?t=201611210213"-->
    <!--type="text/css" media="all">-->
    <link rel="stylesheet" rev="stylesheet"
          href="http://www.elongstatic.com/flights-new/css/cn_list2015-06.css?t=201611210213" type="text/css"
          media="all">
</head>
<body>

<!--<script src="../flight/src/js/listsss/common/js/noexpire/s_code.js"></script>-->
<script src="http://m.elongstatic.com/web/flight/2016/12/v1/js/list/s_code.js"></script>
<!--<script src="http://m.elongstatic.com/web/flight/common/2016/11/v1/js/lib/jquery.js"></script>-->
<script>
    Elong = {
        tj: function () {

        }
    }
</script>
<%- content %>
<script>
    alert(1)
</script>

</body>
</html>